
.content {
    min-height: 100vh;
    width: 100%;
}

.sidebar hr{
    color: white;
}

#foto {
    width: 30%;
}

.sidebar li.active{
    background: white;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: black;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li a:hover {
    color: black;
}


.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 1);
}

#side_nav {
    transition: all 0.25s;
}

.link {
    color: black;
}

/*
    Luzes, Câmera, Ação
*/

:root {
    --gradient: linear-gradient(
        90deg,
        rgb(255 0 0),
        rgb(0 255 0),
        rgb(255 255 0),
        rgb(127 127 0)
    ) 
}

:root {
    --gradient2: linear-gradient(
        90deg,
        rgb(0 0 255),
        rgb(255 0 255),
        rgb(255 0 255),
        rgb(127 0 127)
    )
}

:root {    
    --gradient3: linear-gradient(
        90deg,
        rgb(0 255 0),
        rgb(255 0 0),
        rgb(0 255 255),
        rgb(0 127 127)
    )
}

.colorido {     
    
    animation-duration: 0.3s;
    animation-name: bg;
    animation-iteration-count: infinite;
}

.bloco {
    display: inline-block;
}

.site {
    text-decoration: none;
}

@keyframes bg {
    0% {
        background-image: var(--gradient);
        background-clip: text;
        -webkit-background-clip: text;    
        color: transparent;
        padding: 1px;
        border-bottom: 4px solid white;
        border-image: var(--gradient) 1;    
    }
    50% {
        background-image: var(--gradient2);
        background-clip: text;
        -webkit-background-clip: text;    
        color: transparent;
        padding: 1px;
        border-bottom: 4px solid white;
        border-image: var(--gradient2) 1;
    }
    100% {
        background-image: var(--gradient3);
        background-clip: text;
        -webkit-background-clip: text;    
        color: transparent;
        padding: 1px;
        border-bottom: 4px solid white;
        border-image: var(--gradient3) 1;
    }
}



/*
    Media Queries
*/


@media(max-width:767px){
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active {
        margin-left: 0px;
    }

    #foto {
        width: 75%;
    }
}


.sidebar a {
    color: white;
    font-size: 1.4em;
}

.sidebar ul li a {
    text-decoration: none;
}

#side_nav {
    background: black;
    min-width: 250px;
    max-width: 250px;
}
