
.content {
    min-height: 100vh;
    width: 100%;
}

.sidebar hr{
    color: white;
}

#foto {
    width: 30%;
}

#fechar {
    margin-bottom: 0.5rem;
}

.sidebar li.active{
    background: white;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: black;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li a:hover {
    color: black;
}


.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 1);
}

#side_nav {
    transition: all 0.25s;
}

.link {
    color: black;
}

#redes a {
    min-width: 188px;
    min-height: 188px;
    text-align: center;    
}

#cabecalho {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

/*
    Luzes, Câmera, Ação
*/

.corpo {
    margin: 0;
    padding: 0px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.gradientText {    
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    background: linear-gradient(
        135deg,#000,#000,#000,#000,
        #000,#000,#000,#000,#99000000,#000,#000,#000,
        #000,#000,#000,#000,#99000000            
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: gradient 3s linear infinite;
}

@keyframes gradient {
    0% {       
        background-position: 0%;
    }    
    100% {
        background-position: 100%;
    }
}

.bloco {
    display: inline-block;
}

.site {
    text-decoration: none;
    color: #000;
}




/*
    Media Queries
*/


@media(max-width:767px){
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active {
        margin-left: 0px;
    }

    #foto {
        width: 75%;
    }
    #redes a {
        min-width: 125px;
        min-height: 125px;
        padding-top: 13px;      
    }
}

.sidebar a {
    color: white;
    font-size: 1.4em;
}

@media(min-width:768px){
    .d-block h6{
        padding-left: 2rem;
    }
}

.sidebar ul li a {
    text-decoration: none;
}

#side_nav {
    background: black;
    min-width: 250px;
    max-width: 250px;
}

.mouse:hover {
    background-color: #fff;
    --bs-btn-active-bg: #fff;
}

#som {
    width: 20px;
    height: 20px;
}

/*
 Testesssss
*/

.menu{
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu.toggle{
    position: relative;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
    transition: 1.25;
    z-index: 5;
}
.menu.active .toggle {
    transform: rotate(360deg);
    box-shadow: 0 0 0 2px #333
}