body {
    background-image: white;    
}

.content {
    min-height: 100vh;
    width: 100%;
}

.sidebar hr{
    color: white;
}

#foto {
    width: 30%;
}

.sidebar li.active{
    background: white;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: black;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li a:hover {
    color: black;
}


.btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 1);
}

#side_nav {
    transition: all 0.25s;
}



.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

@media(max-width:767px){
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active {
        margin-left: 0px;
    }

    #foto {
        width: 75%;
    }
}


.sidebar a {
    color: white;
    font-size: 1.4em;
}

.sidebar ul li a {
    text-decoration: none;
}

#side_nav {
    background: black;
    min-width: 250px;
    max-width: 250px;
}
